<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<body>
<p>
  Bonjour,
</p>
<p>
  Un virement de {{message.amount}}€ de la part de {{message.issuer.firstName}} {{message.issuer.lastName}}{{#if message.message}} pour le motif : {{message.message}}{{/if}} est en cours de traitement.
</p>
<p>
  Vous recevrez les fonds d'ici un à trois jours.
</p>
<p>
  Nous vous en souhaitons bonne réception,<br>
  Cordialement<br>
  L'équipe Oney
</p>
</body>
</html>
