<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <body>
    <p>Bonjour,</p>
    <p>Une demande vient d'être créée par l’utilisateur depuis l’application Oney+.</p>
    <p>Nom d’usage : {{message.lastname}}</p>
    <p>Nom de naissance : {{message.birthname}}</p>
    <p>Prénom : {{message.firstname}}</p>
    <p>AppUserID : {{message.userId}}</p>
    <p>E-mail : {{message.email}}</p>
    <p>Téléphone : {{message.phone}}</p>
    <p>Date & heure de la demande : {{message.demandDate}}</p>
    <p>Thématique : {{message.topic}}</p>
    <p>La demande : {{message.demand}}</p>
  </body>
</html>
