<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <script>
  function subst() {
      var vars = {};
      var query_strings_from_url = document.location.search.substring(1).split('&');
      for (var query_string in query_strings_from_url) {
          if (query_strings_from_url.hasOwnProperty(query_string)) {
              var temp_var = query_strings_from_url[query_string].split('=', 2);
              vars[temp_var[0]] = decodeURI(temp_var[1]);
          }
      }
      var css_selector_classes = ['page', 'frompage', 'topage', 'webpage', 'section', 'subsection', 'date', 'isodate', 'time', 'title', 'doctitle', 'sitepage', 'sitepages'];
      for (var css_class in css_selector_classes) {
          if (css_selector_classes.hasOwnProperty(css_class)) {
              var element = document.getElementsByClassName(css_selector_classes[css_class]);
              for (var j = 0; j < element.length; ++j) {
                  element[j].textContent = vars[css_selector_classes[css_class]];
              }
          }
      }
  }
  </script>

<style type="text/css">

  body{
      width: 100%;
      padding:0 21mm;
      font-family: Avenir,arial, san-serif;
      box-sizing: border-box;
    }

  table{
      width: 100%;
      vertical-align: top;
  }

  td{
    font-size:3.5mm;
    color:#898A8D;
    vertical-align: bottom;
  }

  .page-cell{
    white-space: nowrap;
  }

  .footnote{
      color: #898A8D;
      font-size: 3mm;
      margin: 0;
      padding:0 10mm 0 0;
    }

</style>


</head>

  <body style="border:0; margin: 0 0 0 0;" onload="subst()">

  <table>
    <tr>
      <td>
        <p class="footnote">{{ corporate.name }}, Société Anonyme au capital de {{ corporate.capital }}€ au siège social : {{ corporate.address.street }}
          {{ corporate.address.zip_code }} {{ corporate.address.city }}. Immatriculée au Registre du Commerce et des Sociétés de Lille Métropole sous le numéro 546 380 197</p>
      </td>
      <td class="page-cell" style="text-align:right">
        Page <span class="page"></span> sur <span class="topage"></span>
      </td>
    </tr>
  </table>
  </body></html>
